<html>
    <head>
        <link rel="stylesheet" href="/css/profile.css">
    </head>

   <body>
<h1>Profile Page</h1>
<ul>
    <li><%= profile_user.name %></li>
    <li>
        <a href="/users/log-out">
            Log Out
        </a>
    </li>
</ul>
   </body>
</html>